<nav>
    <a class="logo" href="/index.html">
        <svg class="icon">
            <use href="/images/icons.svg#name"></use>
        </svg>
        <h4>Programming</h4>
    </a>
    <ul class="nav-links">
        <svg class="icon">
            <use id="themeIcon" href="/images/icons.svg#sun"></use>
        </svg>
        <li>
            <a href="/index.html">Home</a>
        </li>
        <li>
            <a href="/pages/articles.html">Articles</a>
        </li>
        <li>
            <a href="/pages/projects.html">Projects</a>
        </li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
    </div>
</nav>