<!DOCTYPE html>
<html lang="en-US">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="/images/name.svg">
<link rel="stylesheet" href="../styles/global.css">
<link rel="stylesheet" href="../styles/navbar.css">
<link rel="stylesheet" href="../styles/blog.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/atom-one-dark.css" title="dark-mode" disabled>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.9.0/build/styles/atom-one-light.css" title="light-mode">
{code}
{math}
</head>
<body>
{nav}
<div class="container">
<div class="root"></div>
<div class="post-container">
<div class="post-meta">
<h1>{title}</h1>
<div class='date'>{date}</div>
</div>
<div class="content">
{content}
</div>
</div>
</div>
<div class="footer"></div>
</body>
<script src="../scripts/navListener.js"></script>
</html>